---
import FooterComponent from "../components/FooterComponent.astro";
import HeaderComponent from "../components/HeaderComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('./posts/*.md');
---

<!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->

<BaseLayout title="">

    <HeaderComponent />

    <main class="container mx-auto px-6 py-8 space-y-8">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            {allPosts.map((post) => 
                <article class="w-full h-full rounded-lg border flex flex-col gap-6 p-6 backdrop-blur-[2px] text-justify">
                    <div class="h-full space-y-2">
                        <h1 class="text-lg md:text-xl lg:text-2xl text-black line-clamp-2"><a href={post.url}>{post.frontmatter.title}</a></h1>
                        {post.frontmatter.desc && <div class="text-sm font-light line-clamp-3">{post.frontmatter.desc}</div>}
                    </div>
                    {post.frontmatter.tags && 
                        <ul class="flex flex-wrap items-center gap-2.5 text-xs font-light text-neutral-400">
                            {post.frontmatter.tags.map((tag) => <li><a class="border rounded px-1 py-0.5">#{tag}</a></li>)}
                        </ul>
                    }
                </article>
            )}
            
        </div>
    </main>

    <FooterComponent />

</BaseLayout>